{% extends 'base.html' %}
{% load static %}{% block title %}
	ACF MIDWEST | Our Team
{% endblock %}

{% block main_header %}
	{% include "header.html" %}
{% endblock %}

{% block breadcrumb %} 
<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <h2 class="breadcrumb__title">our team</h2>
                    <ul class="breadcrumb__list">
                        <li class="active__list-item"><a href="{% url 'index' %}">home</a></li>
                        <li class="active__list-item">pages</li>
                        <li>our team</li>
                    </ul>
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end hero-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->
{% endblock %}

{% block content %} 
<!--================================
       START TEAM AREA
=================================-->
<section class="team-area team-area2 text-center">
    <div class="container">
        <div class="row team-content-wrap">
            <div class="col-lg-3 col-sm-6">
                <div class="team-item team-item1">
                    <div class="team__img">
                        <img src="{% static 'images/team.jpg' %}" alt="team image">
                        <div class="team__img-links">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- end team__img-links -->
                    </div><!-- end team__img-->
                    <div class="team__title">
                        <h3 class="team__title-title"><a href="#">Victor Oribhabor</a></h3>
                        <span class="team__title-meta">President</span>
                    </div><!-- end team__title -->
                </div><!-- end team-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="team-item team-item2">
                    <div class="team__img">
                        <img src="{% static 'images/team2.jpg' %}" alt="team image">
                        <div class="team__img-links">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- end team__img-links -->
                    </div><!-- end team__img-->
                    <div class="team__title">
                        <h3 class="team__title-title"><a href="#">Emmanuel Idun</a></h3>
                        <span class="team__title-meta">Vice President</span>
                    </div><!-- end team__title -->
                </div><!-- end team-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="team-item team-item3">
                    <div class="team__img">
                        <img src="{% static 'images/team3.jpg' %}" alt="team image">
                        <div class="team__img-links">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- end team__img-links -->
                    </div><!-- end team__img-->
                    <div class="team__title">
                        <h3 class="team__title-title"><a href="#">Olivia Jonah</a></h3>
                        <span class="team__title-meta">Treasurer</span>
                    </div><!-- end team__title -->
                </div><!-- end team-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="team-item team-item4">
                    <div class="team__img">
                        <img src="{% static 'images/team4.jpg' %}" alt="team image">
                        <div class="team__img-links">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- end team__img-links -->
                    </div><!-- end team__img-->
                    <div class="team__title">
                        <h3 class="team__title-title"><a href="#">Funke Okuyemi</a></h3>
                        <span class="team__title-meta">General Secretary</span>
                    </div><!-- end team__title -->
                </div><!-- end team-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="team-item team-item1">
                    <div class="team__img">
                        <img src="{% static 'images/team5.jpg' %}" alt="team image">
                        <div class="team__img-links">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- end team__img-links -->
                    </div><!-- end team__img-->
                    <div class="team__title">
                        <h3 class="team__title-title"><a href="#">Jimmy Adegoke</a></h3>
                        <span class="team__title-meta">Missions Director</span>
                    </div><!-- end team__title -->
                </div><!-- end team-item -->
            </div><!-- end col-lg-3 -->

        </div><!-- end row -->
    </div><!-- container -->
</section><!-- end team-area -->
<!--================================
          END TEAM AREA
=================================-->


<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area cta-area2 text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="cta-item">
                    <h3 class="cta__title">Become a Volunteer</h3>
                    <p class="cta__desc">Join your hand with us for annual Malawi Missions!</p>
                    <a href="{% url 'volunteer' %}" class="theme-btn">join us now</a>
                </div><!-- end cta-item -->
            </div><!-- end col-lg-8 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
    END CTA AREA
================================= -->



<!-- start back-to-top -->
<div id="back-to-top">
    <i class="fa fa-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

{% endblock %}
{% block footer %}
 {% include "footer.html" %}

{% endblock %}