{% extends 'base.html' %}
{% load static %}{% block title %}
	ACF MIDWEST | Contact Us
{% endblock %}

{% block main_header %}
	{% include "header.html" %}
{% endblock %}

{% block breadcrumb %} 
<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <h2 class="breadcrumb__title">contact</h2>
                    <ul class="breadcrumb__list">
                        <li class="active__list-item"><a href="index.html">home</a></li>
                        <li>contact</li>
                    </ul>
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end hero-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

{% endblock %}


{% block content %} 


<!-- ================================
       START CONTACT AREA
================================= -->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <div class="section-icon">
                        <img src="{% static 'images/section-icon.png' %}" alt="section-icon">
                    </div>
                    <h2 class="section__title">Get in Touch With Us</h2>
                    <p class="section__meta">Write a message</p>
                    <p class="section__desc">
                       We would love to hear from you!
                    </p>
                    <ul class="section__list">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div><!-- end sec-heading -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="form-shared">
                    <!--Contact Form-->
                    <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                   
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 form-group">
                                <input class="form-control" type="text" name="fullname" placeholder="Full Name">
                            </div><!-- end col-md-12 -->

                            <div class="col-lg-6 col-sm-6 form-group">
                                <input class="form-control" type="email" name="email" placeholder="Email Address">
                            </div><!-- end col-md-12 -->

                            <div class="col-lg-12 form-group">
                                <input class="form-control" type="number" name="phone" placeholder="Phone Number">
                            </div><!-- end col-md-12 -->

                            <div class="col-lg-12 col-sm-12 form-group">
                                <textarea class="textarea" name="message" placeholder="Write a Message"></textarea>
                            </div><!-- end col-md-12 -->

                            <div class="col-lg-12 col-sm-12">
                                <button class="theme-btn submit__btn" type="submit">Send Message</button>
                            </div><!-- end col-md-12 -->
                        </div><!-- end row -->
                    </form>
                </div><!-- end contact-form-action -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
        <div class="row contact-detail-action">
            <div class="col-lg-4">
                <div class="contact-item contact-item1">
                    <h3 class="contact__title">About</h3>
                    <p class="contact__desc">
                        We would like that you know more about us. <br> <a href="{% url 'about' %}"> Know more </a>
                    </p>
                </div>
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4">
                <div class="contact-item contact-item2">
                    <h3 class="contact__title">Address</h3>
                    <p class="contact__desc">
                    Midwest Regional Office
					345 University Avenue W, Suite A
					St Paul, MN 55103
       
                    </p>
                </div>
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4">
                <div class="contact-item contact-item3">
                    <h3 class="contact__title">Contact</h3>
                    <p class="contact__desc">
                        info@acf-midwest.org <br>
                        Tel: 612-251-4499
                        <br>Fax: 651-647-1075
                    </p>
                </div>
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end contact-area -->
<!-- ================================
       START CONTACT AREA
================================= -->

<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area cta-area2 text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="cta-item">
                    <h3 class="cta__title">Become a Volunteer</h3>
                    <p class="cta__desc">Join your hand with us for annual Malawi Missions!</p>
                    <a href="{% url 'volunteer' %}" class="theme-btn">join us now</a>
                </div><!-- end cta-item -->
            </div><!-- end col-lg-8 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
    END CTA AREA
================================= -->
<!-- start back-to-top -->
<div id="back-to-top">
    <i class="fa fa-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

{% endblock %}
{% block footer %}
 {% include "footer.html" %}

{% endblock %}

