{% load staticfiles %}

<!-- ================================
       START FOOTER AREA
================================= -->
<section class="footer-area">
    
    <div class="footer-top">
        <div class="container">
            <div class="row footer-widget-wrap">
                <div class="col footer-item footer-item1">
                    <h3 class="widget__title">about</h3>
                    <ul class="foot__links">
                        <li><a href="{% url 'about' %}">about</a></li>
                        <li><a href="{% url 'history' %}">history</a></li>
                        <li><a href="{% url 'events' %}">Events</a></li>
                    </ul>
                </div><!-- end footer-item -->
                <div class="col footer-item footer-item2">
                    <h3 class="widget__title">explore</h3>
                    <ul class="foot__links">
                        <li><a href="{% url 'contact' %}">contact</a></li>
                        <li><a href="{% url 'news' %}">Blog Posts</a></li>
                    </ul>
                </div><!-- end footer-item -->
                <div class="col footer-item footer-item3">
                    <h3 class="widget__title">Causes</h3>
                    <ul class="foot__links">
                        <li><a href="{% url 'ministries' %}">Ministries</a></li>
                        <li><a href="{% url 'missions' %}">Missions</a></li>
                        <li><a href="{% url 'volunteer' %}">Become a Volunteer</a></li>
                        <li><a href="{% url 'donations' %}">Donate Now</a></li>
                    </ul>
                </div><!-- end footer-item -->
                
                <div class="col footer-item footer-item4">
                    <h3 class="widget__title">contact</h3>
                    <ul class="contact__info">
                        <li>345 University Avenue W, Suite A St Paul, MN 55103</li>
                        <li><a href="mailto:contact@acfmidwest.org">contact@acfmidwest.org</a></li>
                        <li><a href="tel:816 888 0000">816 888 0000</a></li>
                    </ul>
                    <div class="footer__social">
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div><!-- end footer-item -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-top -->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-desc">
                        <p>Copyright 2020 by <a href="#">Henry Shyllon</a></p>
                    </div>
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-copyright -->
</section><!-- end footer-area -->
<!-- ================================
       START FOOTER AREA
================================= -->