{% load static %}
<!-- ================================
            START HEADER AREA
================================= -->
<header class="header-area">
    <div class="header-top-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="top-action-content">
                        <div class="info-box info-box-1 d-flex align-items-center">
                            <ul class="d-flex align-items-center">
                                <li><a href="#"><i class="fa fa-envelope"></i>contact@acfmidwest.org</a></li>
                                <li><a href="#"><i class="fa fa-phone-square"></i>816 888 0000</a></li>
                            </ul>
                        </div><!-- end info-box -->
                    </div><!-- top-action-content -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-7">
                    <div class="top-action-content info-action-content">
                        <div class="info-box info-box-2 d-flex align-items-center justify-content-end">
                            <ul class="top-action-list d-flex align-items-center">
                               <!--  <li class="action__text"><a href="#">login</a></li>
                                <li class="action__text"><a href="#">register</a></li> -->
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- end info-box box-2 -->
                    </div><!-- top-action-content -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end header-top-action -->
    <div class="header-top header-menu-action">
        <div class="container">
            <div class="row ostion-top-wrap">
                <div class="col-lg-5 col-sm-5 site-branding">
                    <div class="logo-action d-flex align-items-center">
                        <div class="ostion-logo">
                            <a href="{% url 'index' %}">
                         
                                <img src="{% static 'images/logo.png' %}" alt="ACF Midwest" title="ACF Midwest">
                            </a>
                        </div><!-- .ostion-logo -->
                        <div class="header-btn ml-auto">
                            <a href="{% url 'donations' %}" class="theme-btn">donate now</a>
                        </div>
                    </div><!-- end logo-action -->
                </div><!-- site-branding -->
                <div class="col-lg-7 col-sm-7 ostion-menu">
                    <div class="ostion-menu-innner">
                        <div class="ostion-menu-content">
                            <div class="navigation-top">
                                <nav class="main-navigation">
                                    <ul>
                                        <li class="active"><a href="{% url 'index' %}">Home</a>
                                            
                                        </li>
                                        <li><a href="#">causes</a>
                                            <ul class="dropdown-menu-item">
                                                <li><a href="{% url 'ministries' %}">ministries</a></li>
                                                <li><a href="{% url 'missions' %}">missions</a></li>
                                                <li><a href="{% url 'donations' %}">donate now</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'events' %}">events</a>
                                            <ul class="dropdown-menu-item">
                                                <li><a href="{% url 'events' %}">events</a></li>
                                        
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'news' %}">news</a>
                                            <ul class="dropdown-menu-item">
                                                <li><a href="{% url 'news' %}">news</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages</a>
                                            <ul class="dropdown-menu-item">
                                                <li><a href="{% url 'about' %}">about</a></li>
                                                <li><a href="{% url 'history' %}">history</a></li>
                                                <li><a href="{% url 'gallery' %}">gallery</a></li>
                                                <li><a href="{% url 'volunteer' %}">become a volunteer</a></li>
                                                <li><a href="{% url 'team' %}">our team</a></li>
                                          
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'contact' %}">contact</a></li>
                                    </ul>
                                </nav><!-- end main-navigation -->
                            </div><!-- end navigation-top -->
                        </div><!-- end ostion-menu-content -->
                        <div class="mobile-menu-toggle">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div><!-- end ostion-menu-innner -->
                </div><!-- ostion-menu -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end header-top -->
    <div class="side-nav-container">
        <div class="humburger-menu">
            <div class="humburger-menu-lines side-menu-close"></div><!-- end humburger-menu-lines -->
        </div><!-- end humburger-menu -->
        <div class="side-menu-wrap">
            <ul class="side-menu-ul">
                <li class="sidenav__item"><a href="{% url 'index' %}">home</a>
                    
                </li>
                <li class="sidenav__item"><a href="#">causes</a>
                    <span class="menu-plus-icon"></span>
                    <ul class="side-sub-menu">
                        <li><a href="{% url 'ministries' %}">ministries</a></li>
                        <li><a href="{% url 'missions' %}">missions</a></li>
                        <li><a href="donate.html">donate now</a></li>
                    </ul>
                </li>
                <li class="sidenav__item"><a href="#">event</a>
                    <span class="menu-plus-icon"></span>
                    <ul class="side-sub-menu">
                        <li><a href="{% url 'events' %}">events</a></li>
                    </ul>
                </li>
                <li class="sidenav__item"><a href="#">news</a>
                    <span class="menu-plus-icon"></span>
                    <ul class="side-sub-menu">
                        <li><a href="{% url 'news' %}">news</a></li>
                    </ul>
                </li>
                <li class="sidenav__item"><a href="#">pages</a>
                    <span class="menu-plus-icon"></span>
                    <ul class="side-sub-menu">
                        <li><a href="{% url 'about' %}">about</a></li>
                        <li><a href="{% url 'history' %}">history</a></li>
                        <li><a href="{% url 'gallery' %}">gallery</a></li>
                        <li><a href="{% url 'volunteer' %}">become a volunteer</a></li>
                        <li><a href="{% url 'team' %}">our team</a></li>
                    </ul>
                </li>
                <li class="sidenav__item"><a href="{% url 'contact' %}">contact</a></li>
            </ul>
            <ul class="side-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div><!-- end side-menu-wrap -->
    </div><!-- end side-nav-container -->
</header>
<!-- ================================
         END HEADER AREA
================================= -->