{% extends 'base.html' %}
{% load static %}{% block title %}
	ACF MIDWEST | Upcoming Events
{% endblock %}

{% block main_header %}
	{% include "header.html" %}
{% endblock %}


{% block breadcrumb %} 
<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <h2 class="breadcrumb__title">upcoming events</h2>
                    <ul class="breadcrumb__list">
                        <li class="active__list-item"><a href="{% url 'index' %}">home</a></li>
                        <li>events</li>
                    </ul>
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end hero-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->
{% endblock %}

{% block content %} 


<!--================================
         START CAUSES AREA
=================================-->
<section class="causes-area upcoming-event-area upcoming-event-area2">
    <div class="container">
        <div class="row blog-content-wrap">
            
            {% if valid_events %}
	        {% for event in valid_events %}
            
            <div class="col-lg-4">
                <div class="blog-content">
                {% if forloop.counter < 5 %}
                <div class="blog-item blog-item{{ forloop.counter}}">
                 {% elif forloop.counter > 4 %}
                 <div class="blog-item blog-item1">
                {% endif %}
                        <div class="blog-img">
                            <img src="/media/{{event.photo}}" alt="">
                          	{% if forloop.counter < 5 %}
                            <span class="blog__tag blog__tag{{ forloop.counter}}">
                            {% elif forloop.counter > 4 %}
                            <span class="blog__tag blog__tag1">
                            {% endif %}
                                <span class="date__num-text">{{ event.start_day|date:"d"}}</span>
                                <span class="date__mon-text">{{ event.start_day|date:"M"}}</span>
                            </span>
                        </div>
                        <div class="blog-inner-content">
                            <h3 class="blog__title"><a href="{% url 'event' event.id %}">{{event.title|title}}</a></h3>
                            <ul class="blog__list">
                                <li class="blog__dot-active">{{ event.start_time|time:"g:iA"|upper }} to {{ event.end_time|time:"g:iA"|upper }}</li>
                                <li>{{event.city|title}}</li>                           
                            </ul>
                        </div>
                    </div><!-- end blog-item -->
                </div><!-- end blog-content -->
            </div><!-- end col-lg-4 -->
         	{% endfor %}
                    
            {% else %}
            <div>
                    
            	<h5>Exciting events are coming soon!</h5>
            
            </div>
            {% endif %}
            
          
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end causes-area -->
<!--================================
        END CAUSES AREA
=================================-->


<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area cta-area2 text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="cta-item">
                    <h3 class="cta__title">Become a Volunteer</h3>
                    <p class="cta__desc">Join your hand with us for annual Malawi Missions!</p>
                    <a href="{% url 'volunteer' %}" class="theme-btn">join us now</a>
                </div><!-- end cta-item -->
            </div><!-- end col-lg-8 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
    END CTA AREA
================================= -->

<!-- start back-to-top -->
<div id="back-to-top">
    <i class="fa fa-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

{% endblock %}
{% block footer %}
 {% include "footer.html" %}

{% endblock %}